.Board-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}

.Board-winner {
	font-size: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Board {
	padding: 40px;
	width: 150px;
	height: 150px;
}

.Board:nth-child(1),
.Board:nth-child(2),
.Board:nth-child(3) {
  border-bottom: 1px solid white;
}

.Board:nth-child(7),
.Board:nth-child(8),
.Board:nth-child(9) {
	border-top: 1px solid white;
}

.Board:nth-child(1),
.Board:nth-child(2),
.Board:nth-child(4),
.Board:nth-child(5),
.Board:nth-child(7),
.Board:nth-child(8) {
	border-right: 1px solid white;
}