.Board-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}

.Board-winner {
	font-size: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Board {
	padding: 40px;
	width: 150px;
	height: 150px;
	display: flex;
}

.Board:nth-child(1),
.Board:nth-child(2) {
  border-bottom: 1px solid white;
}


