.UltimateBoard-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.UltimateBoard {
	font-family: 'Montserrat', sans-serif;
	color: white;
	padding: 80px;
}

.UltimateBoard-title {
	text-transform: uppercase;
}

.UltimateBoard-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	padding: 80px;
	align-items: center;
}